.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card{
  background: white;
  padding: 3rem 5rem;
  cursor: pointer;
  border-radius: 15px;
}
.card p{
  padding-top: 1rem;
  line-height: 150%;
}
.expand{
  width: 30rem;
}